* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

img {
 
}

#root {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
}

#root, #root div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1, form {
  display: inline-block;
}

h1 {
  font-size: 40px;
}

form input {
  height: 60px;
  font-size: 30px;
  padding: 10px;
  margin-left: 20px;
}

h2 {
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.images__list {
  /* position: relative; */
}

figure {
  text-align: center;
  transition:all 0.2s ease;
}

figure:hover {
  /* position: absolute; */
  /* inset: 50%; */
}

figcaption {
  max-width: 300px;
  margin: auto;
}


img {
  transition:all 0.2s ease;
  margin: 5px;
  width: auto !important;
  max-width: 70vw;
  z-index: 1;
}

#root img:hover {
  outline: 1rem solid white;
  -webkit-transform:scale(2);
  /* transform: translate(50%); */
}

details {
  width: 100%;
}

details div {
   justify-content: center;

}

summary {
  padding: 20px 0;
}
summary::marker {
  font-size: 32px;
  /*color: white;*/
}
